<body class="bg-gradient-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                    style="background-image: url('https://www.hanoi-office.com/uploads/files/prime%20centre/toa_nha_prime_centre.jpg')">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div style="height: 100px;"></div>

                                    <div class="text-center">
                                        <h4 class="text-dark mb-4 h3 fw-bolder">Hanoi Prime Center</h4>
                                    </div>

                                    <form class="user" action="/login" method="post">
                                        {{#if msgError}}
                                        <div class="form-control form-control-user border border-danger mb-3">
                                            <p class="text-center text-danger m-0 h6">{{msgError}}</p>
                                        </div>
                                        {{/if}}

                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="text" required="true"
                                                placeholder="Email" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="password" required="true"
                                                placeholder="Mật khẩu" name="password">
                                        </div>
                                        <button class="btn btn-dark d-block btn-user w-100" type="submit">Đăng
                                            nhập</button>
                                    </form>

                                    <div style="height: 100px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

